@page "/"
@using PortfolioWebsite.ViewModels
@inject BaseViewModel BaseViewModel

<PageTitle>@SiteTitle</PageTitle>

<div>
    @if (!_isContentVisible)
    {
        <div class="temporary-container @(!string.IsNullOrEmpty(_introClass) ? _introClass : "")">
            <div class="temporary-container-content">
                <div class="text-large">@PersonName</div>
                <div class="text-regular">@PersonTitle</div>
            </div>
        </div>
    }

    <div class="@(_isContentVisible ? "visible-content" : "hidden-content")">
        <!-- Other content goes here -->
    </div>  
</div>

@code {
    /// <summary>
    /// Properties
    /// </summary>
    private int OpeningHoldTimeMs => BaseViewModel.SiteConfig?.OpeningSectionHoldDurationInMs ?? 0;
    private int OpeningFadeTimeMs => BaseViewModel.SiteConfig?.OpeningSectionFadeDurationInMs ?? 0;
    private string PersonName => BaseViewModel.Person?.Name ?? string.Empty;
    private string PersonTitle => BaseViewModel.Person?.Title ?? string.Empty;
    private string SiteTitle => BaseViewModel.SiteConfig?.SiteTitle ?? string.Empty;
    private string FadeOutClass => $"fade-out-{OpeningFadeTimeMs}ms";

    private bool _isContentVisible = false;
    private string _introClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await BaseViewModel.InitializeAsync();
        StateHasChanged();
        await Task.Delay(OpeningHoldTimeMs);
        _introClass = FadeOutClass;
        StateHasChanged();
        await Task.Delay(OpeningFadeTimeMs); 
        _isContentVisible = true;
        StateHasChanged();
    }
}