@page "/"
@using PortfolioWebsite.Models
@using PortfolioWebsite.ViewModels
@inject BaseViewModel BaseViewModel

<PageTitle>@SiteTitle</PageTitle>

<div>
    @if (!_isContentVisible)
    {
        <div class="temporary-container @(!string.IsNullOrEmpty(_introClass) ? _introClass : "")">
            <div class="temporary-container-content">
                <div class="text-large">@PersonName</div>
                <div class="text-regular">@PersonTitle</div>
            </div>
        </div>
    }

    <div class="@(_isContentVisible ? "visible-content" : "hidden-content")">
        <div>
            <div id="person-info">
                <div class="text-large">@PersonName</div>
                <div class="text-regular">@PersonTitle</div>
            </div>
            
            <div id="selection-menu">
                <div class="text-regular">Directory</div>
                <div id="selection-items">
                    @if (Sections != null)
                    {
                        foreach (var sec in Sections)
                        {
                            <div @onclick="() => DisplayInternalNavUrl(sec.NavUrl)">@sec.Title</div>
                        }
                    }
                </div>
            </div>
        </div>
        
    </div>  
</div>

@code {
    /// <summary>
    /// Properties
    /// </summary>
    private int OpeningHoldTimeMs => BaseViewModel.SiteConfig?.OpeningSectionHoldDurationInMs ?? 0;
    private int OpeningFadeTimeMs => BaseViewModel.SiteConfig?.OpeningSectionFadeDurationInMs ?? 0;
    private string PersonName => BaseViewModel.Person?.Name ?? string.Empty;
    private string PersonTitle => BaseViewModel.Person?.Title ?? string.Empty;
    private string SiteTitle => BaseViewModel.SiteConfig?.SiteTitle ?? string.Empty;
    private string FadeOutClass => $"fade-out-{OpeningFadeTimeMs}ms";
    private List<SectionInfo.Section>? Sections => BaseViewModel.SectionInfo?.Sections;

    private bool _isContentVisible = false;
    private string _introClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await BaseViewModel.InitializeAsync();
        StateHasChanged();
        await Task.Delay(OpeningHoldTimeMs);
        _introClass = FadeOutClass;
        StateHasChanged();
        await Task.Delay(OpeningFadeTimeMs); 
        _isContentVisible = true;
        StateHasChanged();
    }

    public void DisplayInternalNavUrl(string url)
    {
        throw new NotImplementedException();
    }
}